.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.toggle-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.todo-container {
  display: flex;
  margin: 20px 0;
}

li {
  margin: 0 10px;
}
